@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

input,
button {
  font-family: 'Roboto', sans-serif;
}

main.App {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 3rem;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    'time .'
    'weather bookmarks'
    '. bookmarks';
  gap: 3rem;
}

@media screen and (max-width: 800px) {
  main.App {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'time weather'
      'bookmarks bookmarks';
  }
}

@media screen and (max-width: 600px) {
  main.App {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    grid-template-areas:
      'time'
      'weather'
      'bookmarks';
  }
}
