@import '../styles/mixins.scss';

section.bookmarks {
  grid-area: bookmarks;
  @include widget;
}

section.wrapper {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 1rem;
}
