$white: #f2f2f2;
$grey: #333;

main.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: rgba($color: #000000, $alpha: 0.25);
  display: grid;
  place-items: center;
  section.wrapper {
    background-color: $white;
    min-width: 500px;
    border-radius: 0.2rem;
    border: 1px solid #ccc;
    box-shadow: 0.2rem 0.2rem 0.2rem rgba($color: #000000, $alpha: 0.2);
    padding: 1rem;
    position: relative;
    i.close {
      cursor: pointer;
      color: $grey;
      position: absolute;
      right: 0.7rem;
      top: 0.7rem;
    }
  }
  h1 {
    margin: 0;
    font-size: 1.1rem;
  }
  button {
    cursor: pointer;
    appearance: none;
    border: none;
    outline: none;
    background-color: $grey;
    padding: 0.5rem 1rem;
    color: $white;
    border-radius: 999px;
  }
  button:hover {
    opacity: 0.75;
  }
}

section.addBookmark {
  display: grid;
  grid-template-columns: min-content 1fr;
  div.favicon {
    margin: 1rem 1rem 0 0;
    img {
      max-width: 30px;
    }
    div {
      width: 30px;
      height: 30px;
      background-color: $grey;
      color: $white;
      border-radius: 0.5rem;
      display: grid;
      place-items: center;
      font-size: 1.2rem;
    }
  }
  div:nth-child(2) {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    input {
      appearance: none;
      border: none;
      outline: none;
      border-bottom: 1px solid #ccc;
      padding: 0.5rem 0;
      background-color: $white;
    }
    input:not(:first-of-type) {
      margin-top: 1rem;
    }
  }
}

section.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  button {
    margin-left: 1rem;
  }
  span {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    color: #ff0033;
    i {
      font-size: 18px;
      margin-right: 0.2rem;
    }
  }
}

section.settings {
  section.backgrounds {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 1rem;
    gap: 1rem;
    div {
      cursor: pointer;
      display: grid;
      place-items: center;
      width: 100%;
      height: 100%;
    }
    div:hover {
      opacity: 0.75;
    }
  }
  img {
    max-width: 120px;
  }
  button {
    margin-top: 1rem;
  }
}
