@import '../styles/mixins.scss';

section.weather {
  grid-area: weather;
  width: 300px;
  display: flex;
  flex-direction: column;
  @include widget;
  position: relative;
  opacity: 0;
  transition: opacity 2s ease;
  img {
    position: absolute;
    top: 1rem;
    right: 1rem;
    max-width: 75px;
  }
}

span.temperature {
  font-size: 3rem;
  margin-bottom: 1rem;
}
span.location {
  font-size: 1.5rem;
}

@media screen and (max-width: 800px) {
  section.weather {
    width: 100%;
  }
}
